body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-rounded {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.attendees {
  display: flex;
  flex-wrap: wrap;
}
.attendee {
  padding: 5px;
  position: relative;
  border: 1px solid #ccc;
  display: flex;  
  width: 250px;
  margin: 0 10px 10px 0;
}
.attendee .avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.attendee .avatar img {
  width: 100%;
}
.attendee .info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.attendee .name {
  font-size: 14px;
}
.attendee .actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}